.custom-image-class {
  max-width: 100%; /* Độ rộng tối đa của hình ảnh */
  border-radius: 50%; /* Bo tròn hình ảnh */
  width: 200px; /* Độ rộng của hình ảnh */
  border: 2px solid white; /* Viền trắng 2px cho hình ảnh */
  /* Các thuộc tính CSS khác cho hình ảnh */
  height: 180px;
}
.custom-modal-class {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.custom-modal-class-popup {
  overflow-y: hidden; /* Ẩn thanh cuộn dọc (bên phải) */
  background-color: black;
  width: 370px;
}

.name {
  font-size: 20px;
  margin-bottom: 5px; /* Khoảng cách dưới tên */
  margin-top: 10px;
  color: brown;
}

.email {
  font-size: 17px;
}

.logout-button {
}

.change-password-button {
}

.all {
  display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử */
  flex-direction: column; /* Hiển thị các phần tử theo chiều dọc */
  align-items: center;
}

.logout {
  margin-left: 10px;
  padding: 0; /* Thêm padding để có border radius và cách nhau 20px */
  border-radius: 5px; /* Border radius cho mỗi chữ */
  margin-right: 32px; /* Khoảng cách 20px giữa hai chữ */
  text-decoration: underline;
  font-size: smaller;
  margin-top: 3px;
}
.changpassword {
  font-weight: bold; /* Làm cho chữ đậm */
  border-radius: 5px; /* Border radius cho mỗi chữ */
  margin-right: 20px; /* Khoảng cách 20px giữa hai chữ */
  margin-top: 20px;
  background-color:  white;
  height: 40px;
  width: 176px;
}
.changpassword:hover {
  background-color: aquamarine; /* Màu nền khi di chuột vào */
}