
.contaiiiner {
    background-color: white;
    width: 500px;
    height: 550px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    
    box-shadow: 15px 15px 16.83px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-content {
    margin-bottom: 10px;
    padding: 75px 0;
  }
  
  .login-formmm {
    display: flex;
  }
  
  .form-title {
    font-size: 40px;
    margin-bottom: 33px;
    font-family: "Recursive", sans-serif;
  }
  
  .register-formmm{
    width: 70%;
    
  }
  
  .form-group {
    position: relative;
    margin-bottom: 25px;
    margin-bottom: 20px;
  }
  .form-group:last-child {
    margin-bottom: 0px;
  }
  
  .label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #222;
  }
  
  .input {
   
    outline: none;
   
    border: none;
    border-bottom: 1px solid #050506;
    
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin-right: 0; /* Đặt giá trị này thành 0 để loại bỏ khoảng cách */
    padding-left: 0px; /* Thêm một chút khoảng cách giữa biểu tượng và lề trái của ô nhập */
  }
  
  .input:focus, .ant-input:focus, .ant-input-password:focus {
    border-color: #050506 !important; 
    box-shadow: none !important;
}


  
  
  .login-image {
    margin-bottom: 100px;
  
  }
  
  .login-image-link {
    
    
   
    display: block;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    margin-top: 30px;
  }
  
  .form-button {
    text-align: center;
  }
  
  .form-submit {
    font-family: "Poppins", sans-serif;
    margin-top: 25px;
    padding: 15px 35px;
    background: #6dabe4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    outline: none;
    border: none;
  }
 
/* Loại bỏ đường viền bo tròn trên các ô nhập có lớp 'no-border-radius' */
.no-border-radius {
    border-radius: 0;
  }
  /* Tạo khoảng cách giữa biểu tượng và vùng nhập dữ liệu trong ô nhập */
.input-prefix-spacing .ant-input-prefix {
    margin-right: 10px; /* Thay đổi giá trị tùy theo khoảng cách bạn muốn */
  }
 

  

  
  
  
  
  
  