.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.gap-8 {
  grid-gap: 32px;
}
.column {
  border: 1px solid #000;
}
/* Màn hình điện thoại quay dọc */
/* prefix: sm -> small */
@media (min-width: 576px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .sm\:grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* prefix: md -> medium */
@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .md\:grid-cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
}
/* prefix: lg -> large */
@media (min-width: 992px) {
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* prefix: xl -> extra large */
@media (min-width: 1024px) {
  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* prefix: 2xl -> extra large */
@media (min-width: 1200px) {
  .xxl\:grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
